
/* style portada categoría */
.prevPhoto {
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: 200px;
    border: 1px solid #CCC;
    position: relative;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: auto;
}
.prevPortada{
    width: 100%;
    min-width: 200px;
    background: none;
}
.prevPhoto label{
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.prevPhoto img{
    width: 100%;
    height: 100%;
}
.upimg, .notblock{
    display: none !important;
}
.errorArchivo{
    font-size: 16px;
    font-family: arial;
    color: #cc0000;
    text-align: center;
    font-weight: bold; 
    margin-top: 10px;
}
.delPhoto{
    color: #FFF;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: red;
    position: absolute;
    right: -10px;
    top: -10px;
    z-index: 10;
}

.purchase-row01,
.purchase-row02 {
  display: none;
}

.purchase-row01.show,
.purchase-row02.show {
  display: table-row;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #337ab7 !important;
    color: #fff !important;
    border: none !important;
    padding: 3px 5px !important;
    margin-top: 5px !important;
    margin-right: 5px !important;
  }
  
  .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #fff !important;
  }
  
  .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #fff !important;
  }

  .selectCursos .select2-container {
    width: 100% !important;
    box-sizing: border-box !important;
  }